<html>
    {% load staticfiles %}	
    {% load crispy_forms_tags %}
    {% include 'navbar.html' %}

    <!DOCTYPE html>
    <html lang="en">
    <body>
        <div class="container theme-showcase" role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
        {% if request.user.is_authenticated %}
            <div class="title bolder">{{title}}</div><br><br>

            <div class="row">
                <div class="col-sm-12">
                    <div class="std-search">
                        <form method="post" action="">
                            {% csrf_token %} 
                            {{form|crispy}}
                            <input class="search-btn btn btn-primary" type="submit" value="Search">
                        </form>
                    </div>
                </div><!--/col-sm-3-->
            </div><!--/row-->


            <div class="bolder">LOCAL TRANSFER</div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="aligncenter">TRANSFER CODE</th>
                        <th class="aligncenter">TRANSFER TYPE</th>
                        <th class="aligncenter">SENDER NAME</th>
                        <th class="aligncenter">SENDER ID NUMBER</th>
                        <th class="aligncenter">SENDER ADDRESS</th>
                        <th class="aligncenter">SENDER PHONE #</th>
                        <th class="aligncenter">AMOUNT</th>
                        <!-- <th class="aligncenter">SENT DATE/TIME</th> -->
                        <th class="aligncenter">RECEIPIENT NAME</th>
                        <th class="aligncenter">RECEIPIENT PHONE #</th>
                        <th class="aligncenter">RECEIPIENT ADDRESS</th>
                        <th class="aligncenter">RECEIVED DATE/TIME</th>
                        <th class="aligncenter">TELLER</th>
                        
                    </tr>
                </thead>

                {% for transfers in queryset_local %}
                <tbody>
                    <tr>
                        <td class="aligncenter">{{transfers.transfer_code}}</td>
                        <td class="aligncenter">{{transfers.transfer_type}}</td>
                        <td class="aligncenter">{{transfers.sender_name}}</td>
                        <td class="aligncenter">{{transfers.sender_id_number}}</td>
                        <td class="aligncenter">{{transfers.sender_address}}</td>
                        <td class="aligncenter">{{transfers.sender_phone_number}}</td>
                        <td class="aligncenter">D{{transfers.amount_sent}}</td>
                        <!-- <td class="aligncenter">{{transfers.time_sent}}</td> -->
                        <td class="aligncenter">{{transfers.recipient_name}}</td>
                        <td class="aligncenter">{{transfers.recipient_phone_number}}</td>
                        <td class="aligncenter">{{transfers.recipient_address}}</td>
                        <td class="aligncenter">{{transfers.time_received}}</td>
                        <td class="aligncenter">{{transfers.tellertwo}}</td>
                        
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            <div class="total">
                <span class="highlight bolder">TOTAL LOCAL TRANSFER : D{{total_local}}</span>
            </div>


           
            <hr>
            <br><br>

            <div class="bolder">FOREX</div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="aligncenter">TRANSFER CODE</th>
                        <th class="aligncenter">TRANSFER TYPE</th>
                        <th class="aligncenter">SENDER NAME</th>
                        <th class="aligncenter">SENDER ID NUMBER</th>
                        <th class="aligncenter">SENDER ADDRESS</th>
                        <th class="aligncenter">SENDER PHONE #</th>
                        <th class="aligncenter">AMOUNT</th>
                        <!-- <th class="aligncenter">SENT DATE/TIME</th> -->
                        <th class="aligncenter">RECEIPIENT NAME</th>
                        <th class="aligncenter">RECEIPIENT PHONE #</th>
                        <th class="aligncenter">RECEIPIENT ADDRESS</th>
                        <th class="aligncenter">RECEIVED DATE/TIME</th>
                        <th class="aligncenter">TELLER</th>
                        
                    </tr>
                </thead>

                {% for transfers in queryset_forex %}
                <tbody>
                    <tr>
                        <td class="aligncenter">{{transfers.transfer_code}}</td>
                        <td class="aligncenter">{{transfers.transfer_type}}</td>
                        <td class="aligncenter">{{transfers.sender_name}}</td>
                        <td class="aligncenter">{{transfers.sender_id_number}}</td>
                        <td class="aligncenter">{{transfers.sender_address}}</td>
                        <td class="aligncenter">{{transfers.sender_phone_number}}</td>
                        <td class="aligncenter">D{{transfers.amount_sent}}</td>
                        <!-- <td class="aligncenter">{{transfers.time_sent}}</td> -->
                        <td class="aligncenter">{{transfers.recipient_name}}</td>
                        <td class="aligncenter">{{transfers.recipient_phone_number}}</td>
                        <td class="aligncenter">{{transfers.recipient_address}}</td>
                        <td class="aligncenter">{{transfers.time_received}}</td>
                        <td class="aligncenter">{{transfers.tellertwo}}</td>
                        
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            <div class="total">
                <span class="highlight bolder">TOTAL FOREX :D{{total_forex}}</span>
            </div>





            <hr>
            <br><br>

            <div class="bolder">TOTAL FOR ALL TRANSFER</div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="aligncenter">TRANSFER TYPE</th>
                        <th class="aligncenter">TOTAL</th>
                        
                    </tr>
                </thead>

                {% for transfers in queryset_total_transfer_type %}
                <tbody>
                    <tr>
                        <td class="aligncenter">{{transfers.transfer_type}}</td>
                        <td class="aligncenter">D{{transfers.total}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            <div class="total">
                <span class="highlight bolder">TOTAL FOREX :D{{total_transfer_type}}</span>
            </div>



            <hr>
            <br><br>

            <div class="bolder">TOTAL FOR ALL BRANCHES (LOCAL TRANFERS)</div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="aligncenter">CODE</th>
                        <th class="aligncenter">TOTAL</th>
                        
                    </tr>
                </thead>

                {% for transfers in queryset_total_local_code %}
                <tbody>
                    <tr>
                        <td class="aligncenter">{{transfers.code}}</td>
                        <td class="aligncenter">D{{transfers.total}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
<!--             <div class="total">
                <span class="highlight bolder">CODES TOTAL LOCAL :D{{queryset_total_local_code}}</span>
            </div> -->


            <hr>
            <br><br>

            <div class="bolder">TOTAL FOR BRANCHES (FOREX)</div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="aligncenter">CODE</th>
                        <th class="aligncenter">TOTAL</th>
                        
                    </tr>
                </thead>

                {% for transfers in queryset_total_forex_code %}
                <tbody>
                    <tr>
                        <td class="aligncenter">{{transfers.code}}</td>
                        <td class="aligncenter">D{{transfers.total}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
<!--             <div class="total">
                <span class="highlight bolder">CODES TOTAL FOREX :D{{queryset_total_forex_code.total}}</span>
            </div> -->


            {% else %}
                <div class="highlight bolder aligncenter">
                    You have to login before you can access this page. Click <a href="/accounts/login">here</a> to Sign in
                </div>
            {% endif %}
        </div>

        </div> <!-- /container -->
        <footer class="footer">
          <div class="container">
            <div id="updatetime"></div>
          </div>
        </footer>
    </body>      
</html>
